@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  font-family: 'Tinos' !important;
  color: #fff !important;
}

body {
  margin: 0 !important;
  background-image: url("./assets/developer.jpg");
}

.app {
  width: 80%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 14px );
}

.side-bar {
  width: 45%;
  display: flex;
  align-items: center;
}

.my-informations-main {
  position: sticky;
}

.selected-content-main {
  flex: 1;
  margin-top: 7%;
  display: flex;
  justify-content: center;
}

.my-informations-main h1 {
  font-size: 50px;
  margin-bottom: 18px;
  margin-top: 0;
}

.my-informations-main p {
  font-size: 20px;
  font-weight: 500;
}

.main-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  margin-left: 10px;
}

.main-menu .menu-item {
  opacity: .6;
}

.main-menu .active {
  opacity: 1;
}

.main-menu button {
  justify-content: flex-start;
  color: black;
}

.about-me p {
  font-size: 18px;
}

.selected-indicator {
  width: 30px;
  height: 1px;
  background-color: #fff;
  margin-right: 10px;
}

.technologies {
  width: 100%;
}

@media(max-width: 1150px) {
  .side-avatar {
    display: none;
  }
  .app {
    width: 90%;
  }
  .side-bar {
    width: 30%;
  }
  .selected-content-main {
    margin-top: 10%;
  }
}

@media(max-width: 650px) {
  .side-bar {
    display: unset;
    margin-top: 30px;;
  }
  .app {
    width: 95%;
    flex-direction: column;
  }  
  .my-informations-main {
    text-align: center;
  }
  .side-bar {
    width: 100%;
  }
  .main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
  }
  .selected-indicator {
    display: none;
  }
  .social-medias {
    justify-content: center;
  }
  .selected-content-main {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .technologies {
    width: 100%;
  }
  .my-informations-main h1 {
    font-size: 35px;
  }
  
  .my-informations-main p {
    font-size: 20px;
  }
}

