@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  font-family: 'Tinos' !important;
  color: #fff !important;
}

body {
  margin: 0 !important;
  background-image: url("./assets/developer.jpg");
}

.app {
  width: 80%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 4%;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 14px );
}

.side-bar {
  width: 45%;
}

.my-informations-main {
  position: sticky;
  top: 16%;
}

.selected-content-main {
  flex: 1;
}

.my-informations-main h1 {
  font-size: 50px;
  margin-bottom: 18px;
  margin-top: 0;
}

.my-informations-main p {
  font-size: 20px;
  font-weight: 500;
}

.main-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  margin-left: 10px;
}

.main-menu .menu-item {
  opacity: .6;
}

.main-menu .active {
  opacity: 1;
}

.main-menu button {
  justify-content: flex-start;
  color: black;
}

.about-me p {
  font-size: 18px;
}

.selected-indicator {
  width: 30px;
  height: 1px;
  background-color: #fff;
  margin-right: 10px;
}